mcu/treadmill/.vscode/
mcu/treadmill/build/
mcu/treadmill/cmake/
mcu/treadmill/CMakeFiles/
mcu/treadmill/Drivers/
mcu/treadmill/.clang-format
mcu/treadmill/.mxproject
mcu/treadmill/build.ninja
mcu/treadmill/cmake_install.cmake
mcu/treadmill/CMakeCache.txt
mcu/treadmill/CMakeLists.txt
mcu/treadmill/CMakePresets.json
mcu/treadmill/compile_commands.json
mcu/treadmill/format.sh
mcu/treadmill/startup_stm32f103x6.s
mcu/treadmill/STM32F103XX_FLASH.ld
mcu/treadmill/treadmill.ioc
KiCad/treadmill_v2/treadmill_v2-backups/
KiCad/treadmill_v2/fp-info-cache
